:root {
  --transition: 0.3s ease-in-out;
  --main-color: #2196f3;
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Oswald", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.none {
  display: none;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container h2 {
  color: var(--text-color);
  text-align: center;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 50px);
}
.form svg {
  font-size: 150px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.form input {
  outline: 0;
  width: 300px;
  padding: 10px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  caret-color: var(--main-color);
}
.form button {
  border: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  width: fit-content;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  opacity: 1;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 100;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.form button:hover {
  opacity: 0.7;
}
/* profile */
.container .profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container .profile .refresh {
  position: fixed;
  left: 5%;
  top: 5%;
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container .profile .refresh svg {
  opacity: 1;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.container .profile .refresh:hover svg {
  opacity: 0.6;
}
.container .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid var(--main-color);
}
.container .profile h2 {
  font-size: 22px;
  font-weight: 100;
  margin: 0;
}
.container .profile h2.name {
  font-size: 30px;
  font-weight: 300;
}
.container .profile h2.link a {
  color: var(--main-color);
  text-decoration: none;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-style: italic;
}
.container .profile h2.link:hover a {
  color: var(--text-color);
}
.container .profile .icon {
  display: flex;
  gap: 50px;
  color: var(--text-color);
  margin-bottom: 20px;
}
.container .profile .icon div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.container .profile .icon div svg {
  color: var(--main-color);
}
.container .profile .info {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container .profile .info > div {
  color: var(--text-color);
  text-align: center;
  padding: 10px 20px 20px;
  border-radius: 3px;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: rgba(41, 41, 41, 0.58);
}
.container .profile .info > div .num {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .container .profile .info {
    gap: 10px;
  }
  .container .profile .info > div {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 0;
    padding-bottom: 20px;
  }
  .container .profile .info > div .num {
    font-size: 20px;
  }
}
/* end profile */
.container .repos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
}
.container .repos .box {
  background-color: #29292994;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: var(--transition);
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container .repos .box:hover {
  background-color: #3e3e3e94;
}
.container .repos .box a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container .repos .box h3 {
  margin: 0;
  color: var(--main-color);
  font-weight: 400;
  line-break: anywhere;
}
.container .repos .box p {
  font-weight: 300;
  line-break: anywhere;
}
.container .repos .box ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: nowrap;
  padding: 0;
  padding-top: 30px;
  margin-top: auto;
}
.container .repos .box ul li {
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 100;
}
.container .repos .box ul li svg {
  margin-right: 5px;
}
.container .repos .box ul li:first-of-type svg {
  font-size: 10px;
}
footer {
  text-align: center;
  color: var(--text-color);
}
footer span {
  color: var(--main-color);
}
